{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<div class="mt-5 flex justify-center border-x-gray-400 ">
    <h1>Mon espace privé</h1>
</div>

    <div class="mt-5 flex justify-center">
        <a href="{{ path('app_logout') }}" class=" font-medium text-blue-600 dark:text-blue-500 hover:underline"> Me déconnecter</a>
    </div>

    <div class="mt-5 flex justify-center">
        <a href="#" class=" font-medium text-blue-600 dark:text-blue-500 hover:underline"> Modifier mon mot de passe</a>
    </div>
{% endblock %}
