{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <h1 class="bg-yellow-200">Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/laboutiquefrancaise/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/laboutiquefrancaise/templates/home/index.html.twig</code></li>
    </ul>
{% endblock %}
